@model List<WebApp.Models.ClientesModel>

<div class="rom">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Lista de Clientes</div>
        </div>

        <div class="card-body">
            <form action="/Cliente/Cadastro" method="get"></form>
            <div class="row">
                <div class="col-2">
                    <a href="/Cliente/Cadastro" class="btn btn-outline-success">Novo Cliente</a>
                </div>

                <div class="col-4">
                    <select name="filtro" class="form-control">
                        <option value="0">Todas as opções</option>
                        <option value="0">Por código</option>
                        <option value="nome">Por nome</option>
                        <option value="endereco">Endereço</option>
                    </select>
                </div>

                <div class="col-4">
                    <input type="text" name="busca" class="form-control"/>
                </div>

                <div class="col-2">
                    <button class="btn btn-primary">Pesquisar</button>
                </div>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>Nome</th>
                            <th>16333569</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var cliente in Model)
                        {
                            <tr>
                                <td>@cliente.Id</td>
                                <td>@cliente.Nome</td>
                                <td>@cliente.Telefone</td>
                                <td>
                                    <a href="/Cliente/Editar1" class="btn btn-warning">Editar</a>
                                    <a href="/Cliente/Excluir1" class="btn btn-danger">Excluir</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                  



                </table>




            </div>



        </div>



    </div>
</div>