@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul class="list-group">
    <li class="list-group-item">Um item</li>
    <li class="list-group-item">Um segundo item</li>
    <li class="list-group-item">Um terceiro item</li>
    <li class="list-group-item">Um quarto item</li>
    <li class="list-group-item">Um quinto item</li>
</ul>

<div class="card-body">
    <div class="cabeçalho do cartão">
        Título do Cartão
    </div>
    <h5 class="card-title">Título</h5>
    <p class="card-text">Texto de contúdo adiconal</p>
    <a href="#" class="btn btn-primary ">Clique aqui!</a>

</div>