
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<div class="alert alert-sucess" role="alert">
    Um alerta de sucesso simples - confira!
</div>

<div class="input-group mb-3">
    <span class="input-group-text" id="basic.addon1">R$</span>
    <input type="text" class="form-control" placeholder="Digite o preço" arial-label="Username" aria-describedby="basic-addon1" />

</div>

<form action="" method="post">
    <label>
        Login
    </label>

    <br />
    <input class="form-control" tupe="text" name="Login"/>

    <br />

    <label>
        Senha
    </label>

    <input type="password" name="Senha"/>

    <br />
    <button type="button" class="btn btn-info">
        Entrar
    </button>

</form>