
@{
    ViewData["Title"] = "MinhaTela";
}

<h1>MinhaTela</h1>

<p>Essa é a action referente ai HomeController action MinhaTela</p>

<table class="tale table-striped">
    <thead>
        <tr>
         <th>Id</th>
        <th>Nome</th>
        <th>Idade</th>

        </tr>
        
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>Maysa</td>
            <td>19</td>
        </tr>

        <tr>
            <td>2</td>
            <td>Maria</td>
            <td>12</td>
        </tr>

        <tr>
            <td>3</td>
            <td>Antônio</td>
            <td>21</td>
        </tr>

    </tbody>



</table>